@using SiteMVC.Models
@{
    ViewBag.Title = "Услуги";
    Layout = ViewBag.Layout;
}

<div id="title">@ViewBag.Title</div>  

@*@foreach (Service service in ViewBag.ServiceList)
{
    <a href="#@service.Id">
        <h3>@service.Name</h3>
    </a>
@{Html.RenderAction("ServiceMenu", "ServiceMenu");}
}*@


<ul id="services">
    @foreach (Service service in ViewBag.ServiceList)
    {
        <li id="@service.Id">
                <h3>@service.Name</h3>
            <div>
                <img alt="@service.Id" src="@service.ImgPath" class="@service.ImgStyle"/>
                <div class="@service.StylePackages">
                    @foreach (var pack in service.Packages)
                    {
                        <div class="package">
                            <h4><i>@pack.Name</i></h4>
                            <ul>
                                @foreach (var item in pack.ItemsList)
                                {
                                    <li>@item</li>
                                }
                            </ul>
                        </div>
                    }
                    @Ajax.ActionLink("посмотреть портфолио", "Album", "Portfolio", new {path = service.Id},
                        new AjaxOptions {UpdateTargetId = "container"},
                        new {onclick = "ChangeUrl('/Portfolio/Album?path=" + service.Id + "', '/Portfolio/Album?path=" + service.Id + "');"})
                </div>
            </div>
        </li>
    }
</ul>

ВНИМАНИЕ! 
<br/>
Соглашаясь на съемку, Вы соглашаетесь с тем, что отдельные работы с фотосессии <br/>
я могу использовать на своем сайте и других социальных сетях, выставках, конкурсах и т.д <br/>
Съемка на конфидециальных условиях оговаривается отдельно.
<br/><br/>
<br/>

Для получения более подробной информации, 
@Ajax.ActionLink("свяжитесь"+Convert.ToChar(160)+ "со"+Convert.ToChar(160)+ "мной", "Contacts", "Contacts", new { }, new AjaxOptions { UpdateTargetId = "container" }, new { id = "updated-container" }).